{% extends 'customer_base.html' %}

{% load static %}

{% load static %}

{% block page_title %}
Krishna Agency
{% endblock page_title %}

{% block page_css %}
<link rel="stylesheet" href="{% static "customer/customer_home.css" %}">
<script src="{%static "customer/customer_home.js" %}" defer></script>
{% endblock page_css %}

{% block page_body %}

<main>
    <div class="menu">
        <h5 class="cat">Motors Company</h5>
        <details class="motors">
            <summary class="listmenu">CRI</summary>
            <li class="listitem">Submerssible</li>
            <li class="listitem">self priming monoblock</li>
            <li class="listitem">Domestic monoblock</li>
            <li class="listitem">agriculture Monoblock</li>
            <li class="listitem">Agriculture open well motors</li>
            <li class="listitem">domestic open well motors</li>
            <li class="listitem">D-water pumping</li>
            <li class="listitem">Mud pumping</li>
            <li class="listitem">Agriculture vertical Open well motors</li>
        </details>
        <details class="motors">
            <summary class="listmenu">Samudra</summary>
            <li class="listitem">Submerssible</li>
            <li class="listitem">self priming monoblock</li>
            <li class="listitem">Domestic monoblock</li>
            <li class="listitem">agriculture Monoblock</li>
            <li class="listitem">Agriculture open well motors</li>
            <li class="listitem">domestic open well motors</li>
            <li class="listitem">D-water pumping</li>
            <li class="listitem">Mud pumping</li>
            <li class="listitem">Agriculture vertical Open well motors</li>
        </details>
        <details class="motors">
            <summary class="listmenu">Tarro</summary>
            <li class="listitem">Submerssible</li>
            <li class="listitem">self priming monoblock</li>
            <li class="listitem">Domestic monoblock</li>
            <li class="listitem">agriculture Monoblock</li>
            <li class="listitem">Agriculture open well motors</li>
            <li class="listitem">domestic open well motors</li>
            <li class="listitem">D-water pumping</li>
            <li class="listitem">Mud pumping</li>
            <li class="listitem">Agriculture vertical Open well motors</li>
        </details>
        <details class="motors">
            <summary class="listmenu">Texmo</summary>
            <li class="listitem">Submerssible</li>
            <li class="listitem">self priming monoblock</li>
            <li class="listitem">Domestic monoblock</li>
            <li class="listitem">agriculture Monoblock</li>
            <li class="listitem">Agriculture open well motors</li>
            <li class="listitem">domestic open well motors</li>
            <li class="listitem">D-water pumping</li>
            <li class="listitem">Mud pumping</li>
            <li class="listitem">Agriculture vertical Open well motors</li>
        </details>
        <h5 class="cat">Other Product</h5>
    </div>
    <section class="maincontent">
    </section>
</main>

{% endblock page_body %}