{% extends 'customer_base.html' %}

{% load static %}

{% load static %}

{% block page_title %}
Krishna Agency
{% endblock page_title %}

{% block page_css %}
<link rel="stylesheet" href="{% static "customer/customer_home.css" %}">
<script src="{%static "customer/customer_home.js" %}" defer></script>
{% endblock page_css %}

{% block page_body %}

<main>
    <div class="menu">
        <h5 class="cat">Motors Company</h5>
        <details name="motors">
            <summary class="listmenu">CRI</summary>
            <li>Submerssible</li>
            <li>self priming monoblock</li>
            <li>Domestic monoblock</li>
            <li>agriculture Monoblock</li>
            <li>Agriculture open well motors</li>
            <li>domestic open well motors</li>
            <li>D-water pumping</li>
            <li>Mud pumping</li>
            <li>Agriculture vertical Open well motors</li>
        </details>
        <details name="motors">
            <summary class="listmenu">Samudra</summary>
            <li>Submerssible</li>
            <li>self priming monoblock</li>
            <li>Domestic monoblock</li>
            <li>agriculture Monoblock</li>
            <li>Agriculture open well motors</li>
            <li>domestic open well motors</li>
            <li>D-water pumping</li>
            <li>Mud pumping</li>
            <li>Agriculture vertical Open well motors</li>
        </details>
        <details name="motors">
            <summary class="listmenu">Tarro</summary>
            <li>Submerssible</li>
            <li>self priming monoblock</li>
            <li>Domestic monoblock</li>
            <li>agriculture Monoblock</li>
            <li>Agriculture open well motors</li>
            <li>domestic open well motors</li>
            <li>D-water pumping</li>
            <li>Mud pumping</li>
            <li>Agriculture vertical Open well motors</li>
        </details>
        <details name="motors">
            <summary class="listmenu">Texmo</summary>
            <li>Submerssible</li>
            <li>self priming monoblock</li>
            <li>Domestic monoblock</li>
            <li>agriculture Monoblock</li>
            <li>Agriculture open well motors</li>
            <li>domestic open well motors</li>
            <li>D-water pumping</li>
            <li>Mud pumping</li>
            <li>Agriculture vertical Open well motors</li>
        </details>
        <h5 class="cat">Other Product</h5>
    </div>
</main>

{% endblock page_body %}