{% extends 'customer_base.html' %}

{% load static %}

{% block page_title %}
    Stock List
{% endblock page_title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "customer/stock_list.css" %}">
{% endblock page_css %}

{% block page_body %}

<main>
     
    <form>
        <div id="motors">
            <h3>Current Motors stock</h3>
            <div><center>
                {% for msg in messages %}
                    {{msg}}
                {% endfor %}
                </center>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>S No. </th>
                        <th>Company</th>
                        <th>Model</th>
                        <th>HP</th>
                        <th>HSN Code</th>
                        <th>Others</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>Operations</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for fields in present_stock %}
                    <tr>
    
                        <td>{{ forloop.counter }}</td>
                        <td>{{fields.company | title}}</td>
                        <td>{{fields.model_name | title}}</td>
                        <td>{{fields.hp}}</td>
                        <td>{{fields.hsncode}}</td>
                        <td>{{fields.others | title }}</td>
                        <td>{{fields.price}}</td>
                        <td data-qty="{{fields.quantity}}" id="available" > </td>
                        <td>
                            <button class="operations"><a href={% url 'billingpage' fields.id %}>Buy</a></button>
                        </td>
                        
                    </tr>
    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div id="others">
            <h3>Current Other stock</h3>
            <table>
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Item</th>
                        <th>Specifications</th>
                        <th>HSN Code</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fields in other_stock %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{fields.item_name | title}}</td>
                        <td>{{fields.specifications | title}}</td>
                        <td>{{fields.hsncode}}</td>
                        <td>{{fields.price}}</td>
                        <td data-qty="{{fields.quantity}}" id="available" > </td>
                        <td>
                            <button class="operations"><a href={% url 'billingotherpage' fields.id %}>Buy</a></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </form>
</main>

<script>
    aval = document.querySelectorAll("#available");
    aval.forEach(a => {
        const avadata = parseInt(a.getAttribute("data-qty"));
        if(avadata > 0){
            a.textContent = "Yes";}
            else{
                a.textContent = "No";
            }
    });
</script>

{% endblock page_body %}