{% load static %}

<footer>
    <div class="content">
        <p id="crights">&copy;
            <script>document.write(new Date().getFullYear())</script> <span class="bold">Krishna Agency.</span> All
            Rights Reserved.
        </p>
        <p class="devs"> Developed and Designed  <div > by</div> 
            <div class="devnames">
                <div class="name">
                    <span class="bold">Peddi Adithya Vardhan</span>
                    <a href="mailto:peddiadithyavardhan42@gmail.com">peddiadithyavardhan42@gmail.com</a>
                     <a href="tel:+91 9391583281">+91 9391583281</a>
                </div>
                <div id="and">& </div>
                <div class="name">
                    <span class="bold">Vemula Mokshagna Ram Teja</span>
                     <a href="mailto:mokshagnavemula@gmail.com">mokshagnavemula@gmail.com</a>
                     <a href="tel:+91 9666073807">+91 9666073807</a>
                </div>
            </div>
        </p>
    </div>
</footer>