{% load static %}

<footer>
    <div class="content">
        <p id="crights">&copy;
            <script>document.write(new Date().getFullYear())</script> <span class="bold">Krishna Agency.</span> All
            Rights Reserved.
        </p>
        <p class="devs"> Developed and Designed  <div > by</div> 
            <div class="devnames">
                <div class="name">
                    <span class="bold">Peddi Adithya Vardhan</span>
                    <span>peddiadithyavardhan42@gmail.com</span>
                    <span> 9391583281</span>
                </div>
                <div id="and">& </div>
                <div class="name">
                    <span class="bold">Vemula Mokshagna Ram Teja</span>
                    <span> mokshagnavemula@gmail.com</span>
                    <span> 9666073807</span>
                </div>
            </div>
        </p>
    </div>
</footer>