{% extends 'stock_base.html' %}

{% load static %}

{% block page_title %}
    Edit
{% endblock page_title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "stock/motor.css" %}">
{% endblock page_css %}

{% block page_body %}
<main>
    <form method="POST">
        {%csrf_token %}
        <div class="formdiv">
            <label for="product">Product Name</label>
            <input type="text" id="product" name="product" placeholder="{{details.item_name}}">
            <label for="hsncode">HSN code</label>
            <input type="text" id="hsncode" name="hsncode" placeholder="{{details.hsncode}}">
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" name="quantity" placeholder="{{details.quantity}}">
            <label for="specs">Other Specifications</label>
            <input type="text" id="specs" name="specs" placeholder="{{details.specifications}}">
            <label for="price">Price</label>
            <input type="text" id="price" name="price" placeholder="{{details.price}}">
            <input type="submit" id="yes" class="yes" name="Yes" />
        </div>
    </form>
</main>
{% endblock page_body %}