{% extends 'stock_base.html' %}

{% load static %}

{% block page_title %}
    Edit
{% endblock page_title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "stock/motor.css" %}">
{% endblock page_css %}

{% block page_body %}


<main>
    <form method="POST">
        {% csrf_token %}
        <div class="formdiv">
            <label for="company">Company </label>
            <input type="text" id="company" name="company" placeholder="{{details.company}}">
            <label for="model">Model Name</label>
            <input type="text" id="model" name="model" placeholder="{{details.model_name}}">
            <label for="hp">Hp</label>
            <input type="text" id="hp" name="hp" placeholder="{{details.hp}}">
            <label for="hsncode">HSN code</label>
            <input type="text" id="hsncode" name="hsncode" placeholder="{{details.others}}">
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" name="quantity" placeholder="{{details.quantity}}">
            <label for="specs">Other Specifications</label>
            <input type="text" id="specs" name="specs" placeholder="{{details.hsncode}}">
            <label for="price">Price</label>
            <input type="text" id="price" name="price" placeholder="{{details.price}}">
            <input type="submit" id="yes" class="yes" name="Yes" />
        </div>
    </form>
</main>
{% endblock page_body %}