{% extends 'stock_base.html' %}

{% load static %}

{% block page_title %}
History
{% endblock page_title %}

{% block page_css %}
<link rel="stylesheet" href="{% static "stock/history.css" %}">
{% endblock page_css %}

{% block page_body %}
<main>
    
    <h1>History</h1>
    
    <table>
        <thead>
            <tr>
                <th>S No.</th>
                <th>Company</th>
                <th>Model</th>
                <th>HP</th>
                <th>HSN Code</th>
                <th>Price</th>
                <th>Others</th>
                <th>Customer name</th>
                <th>Cust. ph.no</th>
                <th>Cust. address</th>
                <th>Date-time</th>
            </tr>
        </thead>
        <tbody>
            {% for fields in details %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{fields.company}}
                <td>{{fields.model_name}}</td>
                <td>{{fields.hp}}</td>
                <td>{{fields.hsncode}}</td>
                <td>{{fields.price}}</td>
                <td>{{fields.others}}</td>
                <td>{{fields.customer_name}}</td>
                <td>{{fields.customer_phno}}</td>
                <td>{{fields.customer_address}}</td>
                <td>{{fields.dateandtime}}</td>
            </tr>
        </tbody>
        {% endfor%}
    </table>
</main>
{% endblock page_body %}