{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static "stock/login.css" %}" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        
        <form class="login-form" method="POST" action="">
            {% csrf_token%}
          <h3 class="title">Owner login</h1>
          <input type="text" placeholder="Username" name="username"/>
          <input type="password" placeholder="Password" name="password"/>
          {% for msg in messages %}
              {{msg}}
          {% endfor %}
          <button>login</button>
        </form>
      </div>
    </div>

  </body>
</html>
