{% extends 'stock_base.html' %}

{%load static%}

{% block page_title %}
    Motor Entry
{% endblock page_title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "stock/motor.css" %}">
{% endblock page_css %}

{% block page_body %}

<main>
    <form method="POST" action="/motors_entrypage/">
        {%csrf_token %}
        <div class="formdiv">
            <label for="company">Company<span class="req">*</span> </label>
            <input type="text" id="company" name="company" required>
            <label for="model">Model Name<span class="req">*</span> </label>
            <input type="text" id="model" name="model" required>
            <label for="hp">Hp<span class="req">*</span> </label>
            <input type="text" id="hp" name="hp" required>
            <label for="hsncode">HSN code<span class="req">*</span> </label>
            <input type="text" id="hsncode" name="hsncode" required>
            <label for="quantity">Quantity<span class="req">*</span> </label>
            <input type="text" id="quantity" name="quantity" required>
            <label for="specs">Other Specifications<span class="req">*</span> </label>
            <input type="text" id="specs" name="specs" required>
            <label for="price">Price<span class="req">*</span> </label>
            <input type="text" id="price" name="price" required>
            <input type="submit" id="yes" class="yes" name="Yes" />
        </div>
    </form>
</main>
{% endblock page_body %}
