@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

:root{
    --dark-color: #003d2b;
    --light-bg-color: #ade6b9;
}


body{
    margin: auto;
    background-color: var(--light-bg-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* max-width: 1140px; */
}
main{
    flex-grow: 1;
}
header{
    z-index: 10;
}

header, footer{
    flex-shrink: 0;
}